body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Arial', sans-serif;
}
#gameCanvas {
    display: block;
    margin: 0 auto;
    background: url('') repeat;/* Fog Png */
}
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#footer {
        position: absolute;
        bottom: 10px; /* Distance from the bottom */
        left: 10px;   /* Distance from the left */
        color: #fff;
        font-size: 12px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    }